# For loops revisited!

In [3]:
for i in range(5):
    print("Iteration of outer loop : ", i)
    for j in range(3):
        print("Hello")
    print() # Prints a new line

Iteration of outer loop :  0
Hello
Hello
Hello

Iteration of outer loop :  1
Hello
Hello
Hello

Iteration of outer loop :  2
Hello
Hello
Hello

Iteration of outer loop :  3
Hello
Hello
Hello

Iteration of outer loop :  4
Hello
Hello
Hello

```
1
2 3
4 5 6
7 8 9 10
```

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [15]:
n = int(input("Enter n : "))
count = 1
for i in range(1, n+1):
    for j in range(i):
        print (count, end=' ')
        count = count + 1
    print()

Enter n : 6
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

### While loop

In [18]:
count = 5
i = 1
while i < count:
    print (i)
    i += 1 #for loop does this for you

1
2
3
4

### String Immutability

In [19]:
day = 'Wednesday'
# Weenesday

In [20]:
print(day[2])

d

In [22]:
day[2] = 'e' # String is immutable. this is not allowed

TypeError: 'str' object does not support item assignment

In [23]:
# Making a new string by slicing the existing one
new_day = day[0:2] + 'e' + day[3:]

In [24]:
print(new_day)

Weenesday

In [ ]:
x = 3
x = "some_String"
x = 7

### Containers (data types) in Pythons

* List (array)
* Tuple
* Set
* Dictionary

In [25]:
students = ['Elsa', 'Lily' , 'Martina', 'Helena']

In [26]:
print(students[0])

Elsa

In [27]:
print(students[1])

Lily

In [28]:
numbers = [1, 4, 6, 7, 9]

In [32]:
# Slicing a list is similar to slicing string
print(numbers[::2])

[1, 6, 9]

In [33]:
languages = ('Latvian', 'English', 'Italian', 'Hungerian')

In [34]:
numbers

[1, 4, 6, 7, 9]

In [35]:
numbers[1] = 50

In [36]:
numbers

[1, 50, 6, 7, 9]

In [37]:
languages

('Latvian', 'English', 'Italian', 'Hungerian')

In [38]:
languages[1] = 'Marathi'

TypeError: 'tuple' object does not support item assignment

In [39]:
ids= set()

In [40]:
ids.add(1)
ids.add(2)
ids.add(3)
print(ids)

{1, 2, 3}

In [44]:
# Set will contain every element exactly once
ids.add(2)
ids.add(2)
print(ids)

{1, 2, 3}

In [45]:
student_record = {'name' : 'Jeroen', 'age' : 27
                 , 'major' : 'Neuroscience'}

In [46]:
print(student_record)

{'age': 27, 'major': 'Neuroscience', 'name': 'Jeroen'}

In [47]:
student_record.keys()

dict_keys(['age', 'major', 'name'])

In [48]:
student_record.values()

dict_values([27, 'Neuroscience', 'Jeroen'])

In [49]:
# Tell me if set is a mutable type or not
# Tell me if dict is a mutable type or not
student_record['age'] = 28

In [50]:
print(student_record)

{'age': 28, 'major': 'Neuroscience', 'name': 'Jeroen'}

In [51]:
ids

{1, 2, 3}

In [53]:
ids.update({3,4,5})

In [54]:
ids

{1, 2, 3, 4, 5}

In [55]:
ids.clear()
print(ids)

set()

In [56]:
student_record

{'age': 28, 'major': 'Neuroscience', 'name': 'Jeroen'}

In [57]:
student_record['major'] = 'Maths'

In [58]:
student_record

{'age': 28, 'major': 'Maths', 'name': 'Jeroen'}

In [59]:
student_record['major'] = 101

In [60]:
student_record

{'age': 28, 'major': 101, 'name': 'Jeroen'}

In [64]:
student_record['grade'] = 4

In [65]:
sd = [{'name' : 'Ana', 'age': 25, 'grade':8.5},
      {'name' : 'Tim', 'age':26, 'grade':6},
      {'name' : 'Dan', 'age':19, 'grade':9},
      student_record
     ]

In [66]:
sd

[{'age': 25, 'grade': 8.5, 'name': 'Ana'},
 {'age': 26, 'grade': 6, 'name': 'Tim'},
 {'age': 19, 'grade': 9, 'name': 'Dan'},
 {'age': 28, 'grade': 4, 'major': 101, 'name': 'Jeroen'}]

In [67]:
type(sd)

list

In [69]:
len(sd)

4

In [71]:
print(sd[3])

{'age': 28, 'major': 101, 'name': 'Jeroen', 'grade': 4}

In [72]:
# You can use a list of lists to represent a matrix

In [75]:
ExcelRow = "101,Ben,Van Heenvlietlaan,28,8.6,True"

In [76]:
help(str.split)

Help on method_descriptor:

split(...)
    S.split(sep=None, maxsplit=-1) -> list of strings

    Return a list of the words in S, using sep as the
    delimiter string.  If maxsplit is given, at most maxsplit
    splits are done. If sep is not specified or is None, any
    whitespace string is a separator and empty strings are
    removed from the result.

In [77]:
sentence = "Today the weather is nice"

In [79]:
words = sentence.split()
print(words)

['Today', 'the', 'weather', 'is', 'nice']

In [80]:
fields = ExcelRow.split()
print(fields)

['101,Ben,Van', 'Heenvlietlaan,28,8.6,True']

In [81]:
# right way to split the excel row
# is to use comma (,) as a separator
fields = ExcelRow.split(sep=',')
print(fields)

['101', 'Ben', 'Van Heenvlietlaan', '28', '8.6', 'True']

### Functions
A function is  just a block of code designed to 
perform a specific task.

function may have arguments aka parameters

function may return a value

In [83]:
'''
def is a keyword
greeting is name of the function
()  is an empty list of parameters
: after () is part of the syntax

print ("Namaste!") is the statement/code of the function 
'''
def greeting():
    print("Namaste!")

In [84]:
# calling a function:
greeting()

Namaste!

In [85]:
'''
word is the parameter I expect for this function.
The user/caller of this function must pass 'word'
and I will use that 'word' to greet
'''
def my_greeting(word):
    print(word)

In [86]:
my_greeting("Hello")
'''
word = "Hello"
print (word)
'''

Hello

In [87]:
def add(num1, num2):
    return num1 + num2

In [88]:
result = add(4,6)
print(result)

10

In [89]:
my_greeting(123)

123

In [90]:
my_greeting("ciao")

ciao

In [91]:
my_greeting("Hoi")

Hoi

In [92]:
my_greeting("Ca va")

Ca va

In [94]:
my_greeting("Hoi", "Alles goed")

TypeError: my_greeting() takes 1 positional argument but 2 were given

In [95]:
'''
define a function with
one positional argument
one keyword argument with a default value
'''
def dutch_greeting(start, ask='Alles goed'):
    print (start, ask)

In [96]:
dutch_greeting("Hoi")

Hoi Alles goed

In [97]:
dutch_greeting("Hoi", "Hoe gaat het ?")

Hoi Hoe gaat het ?

In [98]:
dutch_greeting("Hallo")

Hallo Alles goed

In [99]:
dutch_greeting("Hallo", ask="Hoe gaat het ?")

Hallo Hoe gaat het ?

In [101]:
'''
Write a function to compute simple interest
takes three parameters
p : Principal amount
n : number of years
r : rate of interest

answer = (p * n * r) / 100

r and n are keyword parameters
with default values 2 and 5 respectively.
'''
print()

In [113]:
def simple_interest(p, n=5, r=2):
    print("p = {}, n= {}, r= {}".format(p,n,r))
    result = (p * n * r)/100
    return result

In [115]:
si = simple_interest(5000)
print(si)
si = simple_interest(5000, 2.5)
print(si)
si = simple_interest(5000, 2.5, 8)
print(si)
si = simple_interest(5000, r=6)

p = 5000, n= 5, r= 2
500.0
p = 5000, n= 2.5, r= 2
250.0
p = 5000, n= 2.5, r= 8
1000.0
p = 5000, n= 5, r= 6

In [ ]:
simple_interest(5000, 'two') # will generate error

In [117]:
'''
 Call a function simple interest on 10000â‚¬
 multiple times to
 calculate the interest for 1-6 years
'''
for i in range(1,7):
    # rate is default
    # n is i
    # because i will have values from 1-6
    print(simple_interest(10000, n=i))

p = 10000, n= 1, r= 2
200.0
p = 10000, n= 2, r= 2
400.0
p = 10000, n= 3, r= 2
600.0
p = 10000, n= 4, r= 2
800.0
p = 10000, n= 5, r= 2
1000.0
p = 10000, n= 6, r= 2
1200.0

In [119]:
'''
compute simple interest for 6 years 
for 3 different values of rate
'''
for n in range(1,7):
    for rate in [2,2.5,3]:
        print(simple_interest(10000, n, rate))

p = 10000, n= 1, r= 2
200.0
p = 10000, n= 1, r= 2.5
250.0
p = 10000, n= 1, r= 3
300.0
p = 10000, n= 2, r= 2
400.0
p = 10000, n= 2, r= 2.5
500.0
p = 10000, n= 2, r= 3
600.0
p = 10000, n= 3, r= 2
600.0
p = 10000, n= 3, r= 2.5
750.0
p = 10000, n= 3, r= 3
900.0
p = 10000, n= 4, r= 2
800.0
p = 10000, n= 4, r= 2.5
1000.0
p = 10000, n= 4, r= 3
1200.0
p = 10000, n= 5, r= 2
1000.0
p = 10000, n= 5, r= 2.5
1250.0
p = 10000, n= 5, r= 3
1500.0
p = 10000, n= 6, r= 2
1200.0
p = 10000, n= 6, r= 2.5
1500.0
p = 10000, n= 6, r= 3
1800.0

### Break and continue

In [121]:
# If I find number divisible by 5
# then break
for i in range(1,21):
    if i % 5 == 0:
        break
    print(i)

1
2
3
4

In [122]:
for i in range(1,21):
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [123]:
for i in range(1,21):
    if i % 5 == 0:
        print("Eagle")
    else:
        print(i)

1
2
3
4
Eagle
6
7
8
9
Eagle
11
12
13
14
Eagle
16
17
18
19
Eagle

In [124]:
# this is a very bad example of recursion
def fun():
    print("It's fun")
    fun()

In [133]:
'''
fact(4)
Example of a recursive function
'''
def fact(n):
    if n == 0:
        return 1
    return n * fact(n-1)

In [134]:
answer = fact(0)
print(answer)

1

In [135]:
fact(4)

24